* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --body-color: linear-gradient(180deg, #F5FBFF 0, #F2FAFF 100%);
    --nav-color: #1876f2;
    --bg-color: #fff;
}

.dark-theme {
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
}

body {
    background: var(--body-color);
    transition: background 0.3s;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    margin: 2rem 3rem;
}

h4 {
    color: #3c4042;
}

h5 {
    color: cadetblue;
}

.sec {
    margin-top: 10rem;
}

.d-n {
    display: none;
}

.d-b {
    display: block;
}

.head {
    display: flex;
    height: 55px;
    align-items: center;
    gap: 10rem;
    background: #fff;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08) !important;
}

.head-img {
    width: 15vw;
    margin: 6px 0px;
    margin-left: 3rem;
}

.head-title {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34vw;
}

.head-title li {
    text-decoration: none;
    list-style: none;
}

.head-title li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.head-title li:hover::after {
    width: 100%;
}

li img {
    width: 2.3rem;
}

.upload-icon {
    width: 5rem;
}

.settings-menu {
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 110%;
    right: 12%;
    max-height: 0;
    transition: max-height 0.3s;
}

.settings-menu-height {
    max-height: 450px;
}

.user-profile a {
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
}

.settings-menu-inner {
    padding: 20px;
}

.settings-menu hr {
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px;
}

.settings-links {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.settings-links .settings-icon {
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}

.settings-links a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}

#dark-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span {
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}

#dark-btn.dark-btn-on {
    padding-left: 23px;
    background: #0a0a0a;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    margin-bottom: 5px;
    font-weight: 500;
    color: #626262;
}

.search {
    align-items: center;
    display: flex;
    position: relative;
}

.search-bar {
    width: 15rem;
    height: 2rem;
    border: 1px solid gray;
    align-items: center;
    border-radius: 43px;
    padding-left: 1rem;
}

.search img {
    width: 1.5rem;
    right: 2.3rem;
    position: absolute;
    right: 8px;
}

.more-menu {
    display: none;
}

.more-menu img {
    width: 30px;
}

.ftf {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    /* Ensures slides don't overflow the container */
}

.ftf-cards {
    display: flex;
    height: 580px;
}

.ftfcard {
    min-width: 100%;
}

.ftfcard img {
    width: 100%;
    height: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dots-container {
    text-align: center;
    padding: 10px;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.first {
    margin: 3rem 0;
    background: #e6fff8bd;
}

.first-head {
    text-align: center;
    font-weight: 300;
    margin: 1rem 0;
}

.sub-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
    padding-top: 1rem;
}

.sub-bar {
    width: 22rem;
    border-radius: 10px;
}

.sub-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3.6rem;
    background: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08) !important;
}

.sub-title {
    font-weight: 400;
    font-size: 25px;
    margin: 0;
}

.sub-card {
    display: flex;
    width: 22rem;
    height: 10rem;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08) !important;
    border-radius: 1rem;
    position: relative;
    background: white;
    cursor: pointer;
}

.sub-img {
    width: 150px;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 1rem;
    transition: 0.5s;
}

.layer:hover {
    backdrop-filter: blur(3px);
    box-shadow: 2px 2px 6px #ccc;
}

.l-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 100%;
    color: black;
    bottom: 0;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer-img {
    width: 1.3rem;
    height: 1.3rem;
}

.layer-title {
    font-size: 20px;
    font-weight: 400;
}

.layer:hover .l-cont {
    bottom: 49%;
    opacity: 1;
}

.study-material-sec {
    margin: 1rem;
    margin: 8rem 0;
}

.materials-slider, .pdfs-slider {
    position: relative;
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.materials, .pdfs {
    display: grid;
    gap: 2rem;
    margin-bottom: 30px;
    margin-left: 40px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}

.materials::-webkit-scrollbar, .pdfs::-webkit-scrollbar {
    display: none;
}

.m-prev {
    display: none;
}

.material, .pdf {
    width: 155px;
    height: 235px;
    object-fit: cover;
    padding: 16px;
    background: aquamarine;
    border-radius: 8px;
}

.material img {
    width: 10vw;
    margin-top: 3rem;
}

.material-scrollbar, .slider-scrollbar {
    display: flex;
    align-items: center;
    height: 24px;
    width: 100%;
}

.material-scrollbar-track,.scrollbar-track {
    height: 2px;
    width: 100%;
    background-color: #ccc;
    position: relative;
    border-radius: 4px;
}

.material-scrollbar:hover .material-scrollbar-track.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.material-scrollbar-thumb, .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #000;
    border-radius: inherit;
    cursor: grab;
}

.material-scrollbar-thumb:active,.scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.material-scrollbar-thumb::after, .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

@media (max-width: 1023px) {
    .slide-btn {
        display: none !important;
    }

    .pdfs {
        gap: 10px;
        margin-bottom: 15px;
    }

    .pdf {
        width: 140px;
        height: 240px;
    }

    .scrollbar-thumb {
        width: 20%;
    }
}

.founder-cards {
    display: flex;
    position: relative;
    width: 100%;
    height: 55vh;
    overflow: hidden;
}

.founder {
    width: 100%;
    height: 100%;
    left: 100%;
    position: absolute;
    transition: left 1s ease-in-out;
}

.move {
    text-align: center;
    margin-top: 15px;
}

.move-left,
.move-right {
    font-size: 25px;
    padding: 5px;
}

.fdot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.f-title {
    text-align: center;
    margin: 1rem;
}

.f-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem 0;
    width: 100vw;
    height: 36vh;
}

.f-card {
    width: 28rem;
    border-radius: 10px;
    padding: 10px;
    height: 13rem;
    box-shadow: 0px 0px 4px gray;
    position: relative;
    background-color: white;
}

.f-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: absolute;
}

.f-card img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px gray;
}

.f-para {
    margin: 0;
    margin-bottom: 0.3rem;
}

.f-quote {
    position: absolute;
    bottom: 2.5rem;
    left: 12rem;
    font-weight: 300;
}

.review-sec h4 {
    color: #3c4042;
    font-size: 2.4rem;
    text-align: center;
}

.review-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2rem 6rem;
}

.review-card {
    background: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 6px #ccc;
}

.review-card:hover .review-details h3 {
    color: black;
}

.review-card p {
    height: 8rem;
    padding: 1rem;
    line-height: 22px;
    box-shadow: 2px 2px 6px #ccc;
}

.review-details {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 6px #ccc;
}

.review-details h3 {
    font-size: 1rem;
    color: #f29900;
}

.review-card img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.stats-head {
    text-align: center;
    font-size: 2.4rem;
}

.stats-head h5 {
    font-size: 1.2rem;
    font-weight: 400;
}

.stats-details {
    display: flex;
    width: 85vw;
    height: 67vh;
    margin: auto;
    gap: 6rem;
    position: relative;
}

.stats-detail {
    display: grid;
    width: 45%;
    gap: 5rem;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    grid-template-columns: repeat(2,1fr);
    position: absolute;
}

.stat {
    margin: 2rem;
}

.counter {
    display: flex;
}

.stat h4 {
    font-size: 3rem;
    font-weight: 500;
}

.stats-details img {
    width: 40%;
    position: absolute;
    right: 0;
}

.contact-head {
    display: block;
    text-align: center;
}

.sec-subtitle {
    margin: 0.6rem 0;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 4rem 0;
}

.contact-opt,
.form-detail {
    background: white;
    border-radius: 5px;
    padding: 1.5rem;
}

.contact-opt {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
    align-items: center;
}

.contact img {
    width: 2.5rem;
}

.contact h3 {
    color: gray;
    font-size: 1rem;
}

.cont-detail p {
    color: #006BC2;
}

.contact-sec h4 {
    text-align: center;
    margin-bottom: 2rem;
}

.user-detail {
    display: flex;
    gap: 1rem;
}

.contact-info {
    width: 97%;
    height: 4rem;
    background-color: #f0eefc80;
    margin-bottom: 2rem;
    border-radius: 6px;
    border: none;
    padding-left: 1rem;
}

.msg {
    height: 9rem;
}

.btn {
    display: block;
    cursor: pointer;
    padding: 12px 40px;
    border: 1px solid #9a9a9a;
    color: #fff;
    background: rgb(0, 119, 255);
    border-radius: 15px;
    border: 2px solid rgb(0, 119, 255);
    margin-top: 35px;
    margin-right: 15px;
    margin: auto;
}

.btn:hover {
    background-color: whitesmoke;
    transition: 0.1s;
    color: black;
}

.about-sec {
    display: flex;
    background-color: #000;
    color: white;
    padding: 2rem;
    font-size: 13px;
    gap: 5rem;
    background-color: #3c4042;
}

.about-sec img {
    width: 10px;
    position: relative;
    left: 6.5rem;
    top: -0.9rem;
}

.about-sec p {
    padding-top: 1rem;
    color: white;
}

.about-sec a {
    color: white;
}

.about-sec h4 {
    font-size: 14px;
    padding-top: 1rem;
    color: #f29900;
}

.pbs ul {
    list-style: none;
}

.footer {
    text-align: center;
    color: white;
    clear: both;
    height: 20px;
    background: #f29900;
    font-size: 80%;
    padding-top: 7px;
}


/* End code */
.active {
    left: 0;
}

.prev-slide {
    left: -100%;
    /* Slide out to the left */
}

.active-dot,
.dot:hover {
    background-color: #717171;
}

.shadow {
    box-shadow: 2px 2px 6px #ccc;
}

.shadow:hover {
    box-shadow: 2px 2px 10px gray;
}

@media(max-width: 1050px) {
    .head {
        gap: 5rem;
    }

    .review-cards {
        margin: 2rem 3rem;
    }
}

@media(max-width:1000px) {
    .about-sec {
        gap: 3rem;
    }

    .contact {
        gap: 1rem;
    }

    .contact-opt, .form-detail {
        padding: 1rem;
    }
}

@media(max-width: 900px) {
    .head {
        gap: 0;
    }

    .head-title {
        width: 22rem;
    }

    .search-bar {
        width: 10rem;
    }

    .about-sec {
        gap: 2rem;
        justify-content: center;
    }

    .contact-form {
        width: 30rem;
    }

}

@media(max-width: 800px) {
    .head-img {
        width: 19vw;
        margin-left: 0.3rem;
    }

    .founder-cards {
        height: 110vh;
    }

    .f-cards {
        display: grid;
        gap: 2rem;
    }

    .f-card {
        display: grid;
        height: 15rem;
    }

    .review-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .stats-details {
        justify-content: center;
        align-items: center;
    }

    .stats-detail {
        gap: 1rem;
    }

    .stats-details img {
        width: 100%;
        height: 100%;
        right: 0;
        position: absolute;
    }

    .contact-opt, .form-detail {
        padding: 1rem 0.5rem;
        gap: 0.5rem;
    }

    .contact-form {
        width: 26rem;
    }

    .about-sec {
        gap: 1rem;
    }

}

@media(max-width: 700px) {
    
    .contact {
        display: grid;
    }

    .contact-form {
        width: 30rem;
    }
    
    .form-detail {
        padding: 1rem;
    }
    
    .about-sec {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .line {
        height: 1px;
        background: #e7e7e7;
    }
}

@media(max-width: 500px) {

    .head {
        gap: 1rem;
        position: relative;
    }

    .head-title {
        display: block;
        position: absolute;
        max-width: 225px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        overflow: hidden;
        top: 60px;
        right: 4px;
        max-height: 0;
        transition: max-height 0.3s;
        text-align: left;
    }

    .head-img {
        width: 148px;
    }

    .head-title li {
        padding: 1rem 2rem;
    }

    .search-bar {
        padding-left: 10px;
        margin-right: 10px;
    }

    .search img {
        right: 17px;
    }

    .more-menu {
        display: block;
        margin-right: 0.2rem;
    }

    .sub-head {
        margin: 0 0.4rem;
        padding-right: 0;
        padding-left: 10px;
    }

    .sub-title {
        font-size: 20px;
    }

    .review-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-form {
        width: 25rem;
    }
}

@media(max-width: 400px) {
    .contact-form {
        width: 22rem;
    }
    .sub-bar {
    width: 8rem;
    border-radius: 22px;
}
}

.show-menu {
    max-height: 50vh;
}
